{% extends "base.html" %}
{% block title %}Rediģēt ogu{% endblock %}
{% block content %}

<h2 class="header-centered">Rediģēt ogu</h2>

<div class="form-container">
<form method="post" enctype="multipart/form-data" class="berry-form">
    <label for="name">Nosaukums:</label><br>
    <input class="input-text" type="text" id="name" name="name" value="{{ berry['name'] }}" required><br><br>

    <label for="image">Attēls (augšupielādējiet failu):</label><br>
    <input class="input-file" type="file" id="image" name="image"><br><br>

    <label for="varieties">Šķirnes (ierakstiet nosaukumus, atdaliet ar komatiem):</label><br>
    <input class="input-text" type="text" id="varieties" name="varieties" value="{% for v in Varieties %}{{ v['name'] }}{% if not loop.last %}, {% endif %}{% endfor %}"><br><br>

    <label for="regions">Reģioni (ierakstiet nosaukumus, atdaliet ar komatiem):</label><br>
    <input class="input-text" type="text" id="regions" name="regions" value="{% for r in Regions %}{{ r['name'] }}{% if not loop.last %}, {% endif %}{% endfor %}"><br><br>

    <input class="btn-submit" type="submit" value="Saglabāt">
</form>
</div>

<br>
<a href="{{ url_for('berries_show', berry_id=berry['id']) }}">← Atpakaļ uz ogas lapu</a>

{% endblock %}